body {
    margin: 0;
    display: grid;
    grid-template-rows: 16vh 1fr;
    font-family: "Poppins", sans-serif;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

button, input {
  font-family: inherit;
  font-size: 100%;
}


/* Header Section */

.dialog-container {
    width: 100%;
    padding-bottom: 1vh;
    background-color: rgb(31, 31, 31);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero Text */

.dialog-container > div {
    margin-left: 2vw;
    display: flex;
}

.dialog-container div:first-of-type img {
    width: calc(30px + 1.5vw + 1.5vh);
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(125deg) brightness(109%) contrast(110%);
}

.dialog-container div h1 {
    font-size: calc(0.8rem + 1.5vw + 1.5vh);
    font-weight: bold;
    color: white;
}

/* New Book Button */

.dialog-button {
    font-size: calc(0.2rem + 0.6vw + 0.6vh);
    font-weight: bold;
    margin-right: 2vw;
    padding: 0.5% 0.5%;
    padding-right: 1%;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 154, 154);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-button:hover {
    background-color: rgb(0, 174, 174);
    cursor: pointer;
}

.dialog-button:active {
    background-color: rgb(0, 134, 134);
}

.dialog-button img {
    width: calc(20px + 0.6vw + 0.6vh);
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(125deg) brightness(109%) contrast(110%);
}

form div:last-of-type p {
    display: inline-block;
}

/* Dialog Section */

dialog {
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(255, 254, 249);
}

form {
    height: 50vh;
    width: 22vw;
    font-size: calc(0.4rem + 0.6vw + 0.6vh);

    display: flex;
    flex-direction: column;
}

/* Form Controls */

form > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 8%;
}

form > div:first-of-type > div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
}

input[type="text"], input[type="number"] {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 2px 0;
    padding-left: 10px;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border: 2px solid rgb(0, 187, 187);
}

input[type="text"]:user-invalid, input[type="number"]:user-invalid {
    border: 2px solid rgb(255, 87, 137);
}

/* Form radio buttons */

form > div:first-of-type > div:last-of-type div p {
    margin-right: 10%;
    font-weight: 500;
}

form > div:first-of-type > div:last-of-type div label {
    margin-right: 5%;
}

input[type="radio"] {
    accent-color: rgb(0, 174, 174);
}

/* Form Buttons */

form > div:last-of-type {
    margin-top: auto;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.cancel-button, .submit-button {
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
}

.submit-button {
    background-color: rgb(0, 174, 174);
}

.submit-button:hover {
    background-color: rgb(0, 194, 194);
}

.submit-button:active {
    background-color: rgb(0, 154, 154);
}

.cancel-button {
    background-color: aliceblue;
}

.cancel-button:hover {
    background-color: rgb(159, 255, 255);
}

.cancel-button:active {
    background-color: rgb(117, 209, 209);
}


/* Main Section */

.book-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50vh;
    gap: 10% 10%;
    padding: 8vh 15% 0;
    margin-bottom: 10%;
    background-color: rgb(255, 254, 249);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 9vh;
    gap: 4% 2%;
}

/* Card Styling */

.card {
    border: 4px solid black;
    border-radius: 10px;
    padding: 5% 2%;
    grid-column: 1 / 3;
    background-color: rgb(233, 255, 249);
    box-shadow: 5px 4px 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow: auto;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

.title {
    font-size: calc(0.5rem + 1.5vw + 1.5vh);
    font-weight: 600;
    text-align: center;
}

.author {
    font-size: calc(0.2rem + 0.7vw + 0.7vh);
    text-align: center;
}

.pages, .read {
    font-size: calc(0.5rem + 0.7vw + 0.7vh);
    font-weight: 500;
    text-align: center;
}

.read-button, .unread-button, .delete-button {
    border: 3px solid black;
    border-radius: 10px;
    font-size: calc(0.2rem + 0.6vw + 0.6vh);
    font-weight: 500;
    cursor: pointer;
}

/* Card read and delete button Styling */

.read-button {
    background-color: rgb(0, 174, 174);
}

.read-button:hover {
    background-color: rgb(0, 194, 194);
}

.read-button:active {
    background-color: rgb(0, 154, 154);
}

.unread-button {
    background-color: rgb(176, 220, 255);
}

.unread-button:hover {
    background-color: rgb(208, 235, 255);
}

.unread-button:active {
    background-color: rgb(156, 210, 235);
}

.delete-button {
    background-color: rgb(255, 87, 137);
}

.delete-button:hover {
    background-color: rgb(275, 107, 157);
}

.delete-button:active {
    background-color: rgb(235, 67, 117);
}